/* remove margin & padding */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.clickable {
  user-select: none;
  cursor: pointer;
}

img {
  /* defining image size/position */
  max-height: 30vw;
  height: 30vh;
  max-height: 30vh;
  width: auto;
  /* margin: 5px; */
  /* padding: 5px; */
}

.flex-container {
display: flex;
flex-direction: column;
/* allowing for wrapping */
/* flex-wrap: wrap; */
justify-content: center;
/* aligning content to center */
/* row-gap:calc (500px + ((100vw - (2000px)) * 0.1px)); */
align-items: center;
border-style: dashed;
border-width: 5px;
border-color: black;
width: 50vw;
height: auto;
background-color: #2596be;
color: white;
}

/* container width-half height-500px bg-marine_blue text-white  */

